@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));


*{
    font-family: "Montserrat", sans-serif;
}

@theme{
  --color-primary: #E6CCFF;
}

::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code){
  all: revert;
}

.loader div:nth-child(2){
  animation-delay: 0.2s;
}

.loader div:nth-child(3){
  animation-delay: 0.4s;
}
